extends layouts/base


block content
  .campaign
    .cmp_photo
    .cmp_discription

      h2.cmp_title Square UI Professional UI Kit for Designers

      .cmp_break

      p.cmp_text She entered into a political marriage with Rainilaiarivony who, in his role as Prime Minister.

      h3.cmp_goal $39.00 <span>of $100.00</span>

    .cmp_fund
