extends layouts/base


block content
  nav
    .menu
    .title
      h3 KanFund
    .search

  .campaign
    .cmp_photo
    .cmp_discription

      h2.cmp_title Help Startup Name buy a top level domain name.

      .cmp_break

      p.cmp_text She entered into a political marriage with Rainilaiarivony who, in his role as Prime Minister.

      h3.cmp_goal $39.00 <span>of $100.00</span>

    .cmp_fund
      .date
        p 9/9/1999
      .fund
        button Fund
