doctype
html
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title Kan Fund
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")

  //Styles and Polymer Elements

  link(rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css")
  link(rel="stylesheet" href="styles/main.css")
  script(src="bower_components/platform/platform.js")
  link(rel="import" href="bower_components/core-animated-pages/core-animated-pages.html")
  link(rel="import" href="bower_components/paper-slider/paper-slider.html")
  script(type="text/javascript" src="https://checkout.stripe.com/checkout.js")



  block poly_elements

  body(unresolved fullbleed)
    //header
    //  .title_holder
    //    h1 kan fund
    //    h2 #{location}
    //    a(href="/login") Login
    //    p #{username}
    //  .row
    //    .small-6.columns
    //      p half size
    //    .small-6.columns
    //      p half size
    block content


  script(src="scripts/foundation.min.js")
  script(src="scripts/app.js")

